<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AI Image Classification</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">AI Image Classification</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">FINGERNAIL DISEASE DETECTION</h1>
        <p class="lead">Diagnose your nail image for only $20.</p>
        <form action="{{ url_for('pay') }}" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ pub_key }}"
            data-amount="2000"
            data-name="Demo Site"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </form>
        <br>
        <img src="{{url_for('static', filename='nails.jpg')}}" width="600px" height="433px" class="img-responsive" />

      </div>

      <footer class="footer">
        <p>&copy; Store 2019</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>